/* styles page content */

.container {
  position: relative;
  top: 410px;;
}

/* Section one */
.section-one {
  background: #0c0b10;
  padding-bottom: 60%;
  position: absolute;
  width: 100%;
}
.section-one img {
  width: 100%;
}
.mobile{
  display: none;
}

/* Section two */
.section-two {
  margin: 0 15%;
}
.two-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.title-one hr {
  width: 350px;
  border: 5px solid #ff003d;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.title-one h1 {
  line-height: normal;
  color: #fff;
  font-weight: 200;
  font-size: 5rem;
  margin: 0;
  padding: 0;
}
.title-two h1,
.title-two h1 strong,
.title-three h1 {
  line-height: normal;
  color: #fff;
  font-size: 5rem;
  margin: 0;
  padding: 0;
}
.title-three h1 span {
  line-height: normal;
  color: #ff003d;
  font-size: 5rem;
  margin: 0;
  padding: 0;
}
.title-one,
.title-two,
.title-three {
  margin: 0;
  padding: 0;
}
.two-text p {
  padding-right: 5%;
  text-align: justify;
  line-height: normal;
  color: #fff;
  font-weight: 800;
  font-size: 1.5rem;
}

/* Section three */
.section-three {
  background: #fff;
  color: #ff003d;
  margin: 0 15%;
  padding: 3% 5%;
  position: relative;
  bottom: -40px;
}
.three-text p {
  padding-right: 25%;
  text-align: justify;
}
.three-duo {
  display: flex;
  justify-content: center;
}
.duo-text {
  padding-right: 5%;
  text-align: justify;
}
.duo-img {
  width: 50%;
}
.duo-img img {
  height: 70%;
}
.three-text.bottom {
  position: relative;
  /* top: -40px; */
}

/* Section Four */
.section-four {
  background: #dadada;
  display: flex;
  justify-content: center;
  position: relative;
  top: 430px;
}
.section-four img {
  width: 75%;
  margin-top: 5%;
}

/* Responsive */


@media (max-width: 1440px){
  .three-text.bottom {
    position: relative;
    top: -70px;
  }
  .section-four {
    top: 370px;
}
}
@media (max-width: 1370px){
  .three-text.bottom {
    position: relative;
    top: -70px;
  }
}
@media (max-width: 1280px){
  .three-text.bottom {
    position: relative;
    top: -10px;
  }
  .section-four {
    top: 410px;
}
}




@media (max-width: 1272px) {
.three-text.bottom {
  position: relative;
  top: 0px;
  }
}

/* Tablet */
@media (max-width: 1020px) {
  .section-one {
    background: #0d0c11;
  }
  .mobile{
    display: flex;
  }
  .desktop{
    display: none;
  }
  .duo-img {
    display: none;
  }
  .container {
    position: relative;
    top: 355px;
  }
  .section-one {
    padding-bottom: 75%;
  }
  .title-one hr {
    width: 250px;
  }
  .title-one h1 {
    font-size: 4rem;
  }
  .title-two h1,
  .title-two h1 strong,
  .title-three h1 {
    font-size: 4rem;
  }
  .section-three {
    margin: 0 10%;
    top: 30px;
  }
  .three-text p,
  .duo-text {
    padding: 0;
  }
  .three-text.bottom {
    top: -7px;
  }
  .section-four {
    top: 360px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .section-one {
    padding-bottom: 120%;
  }
  .container {
    top: 200px;
  }
  .title-one hr {
    width: 120px;
    border: 3px solid #ff003d;
  }
  .title-one h1 {
    font-size: 2rem;
  }
  .title-two h1,
  .title-two h1 strong,
  .title-three h1,
  .title-three h1 span {
    font-size: 2rem;
  }
  .two-text p {
    font-size: 1rem;
  }
  .section-four {
    top: 215px;
    display: block;
    text-align: center;
  }
}
