/* styles page content */

/* IMG */
.one-img{
  position: absolute;
}
.one-img img {
  width: 100%;
}

/* section yellow */
.one-yellow{
  position: relative;
  top: 420px;
  background: #ffc20e;
  width: 400px;
  height: 400px;
  padding: 2% 10% 0% 25%;
}
.one-hr hr{
  width: 90px;
  border: 4px solid #3f3f3f;
  display: inline-block;
}
.one-hr h1{
  text-align: left;
  font-size: 3rem;
  margin: 0;
  color: #3f3f3f;
}
.one-h1 h1{
  text-transform: uppercase;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0;
  color: #3f3f3f;
}
.one-h1 strong{
  font-size: 1.5rem;
  color: #3f3f3f;
}

/* section withe */
.section-two{
  display: flex;
  flex-direction: column;
  padding-left: 22%;
}
.two-p{
  position: relative;
  top: 200px;
  background: #fff;
  padding: 2% 4%;
  text-align: justify;
  width: 70%;
}
.two-duo{
  position: relative;
  top: 200px;
  display: flex;
  padding-left: 4%;
}
.two-img img{
  width: 100%;
}
.two-text{
  width: 50%;
  margin-right: 4%;
  text-align: justify;
}
.two-text h2{
  font-size: 1.5rem;
}
.two-img{
  width: 50%;
  margin-right: 4%;
  align-self: flex-end;
}

/* Responsive */

/* Tablet */
@media (max-width: 1024px) {
  .one-yellow {
    top: 290px;
    padding: 2% 10% 0% 20%;
  }
  .section-two{
    padding-left: 15%;
  }
  .two-p{
    top: 40px;
    padding: 2% 0;
    width: 100%;
  }
  .two-p p{
    padding: 0 24% 0 6%;
  }
  .two-duo{
    flex-direction: column;
    padding-left: 6%;
    padding-right: 25%;
    top: 40px;
  }
  .two-text{
    width: 100%;
    padding-bottom: 6%;
  }
  .two-text h2{
    padding-bottom: 6%;
  }
  .two-img{
    width: 100%;
    align-self: center;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .one-yellow{
    top: 140px;
    width: 200px;
  }
  .section-two{
    padding-left: 6%;
  }
  .two-p{
    top: 0px;
    width: 100%;
  }
  .two-p p{
    padding: 0 10% 0 6%;
  }
  .two-duo{
    top: 0px;
    padding-right: 10%;
  }
}